{% raw %}
<div ng-controller="SearchEventCtrl">
	<div class="row">
		<div class="col-sm-7">
			<legend>General Information</legend>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-sm-2">Keywords:</label>
					<div class="col-sm-9"><input class="form-control" ng-model="state.keywords"></input></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Location:</label>
					<div class="col-sm-9"><input class="form-control" ng-model="state.location"></input></div>
				</div>
			</form>
		</div>
		<div class="col-sm-5">
			<legend>Time period</legend>
			<form class="form-horizontal col-sm-11" role="form">
				<div class="form-group">
					<label class="control-label col-sm-3">From:</label>
					<div>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yy/MM/dd" ng-model="state.timePeriod.from" is-open="popup1IsOpen" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" on-open-focus="false" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="popup1IsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">To:</label>
					<div>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yy/MM/dd" ng-model="state.timePeriod.to" is-open="popup2IsOpen" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" on-open-focus="false" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="popup2IsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<div class="text-right">
		<a class="btn btn-primary btn-lg" href="/#/search/event_list_visualisation" ng-click="search()">Search</a>
	</div>
</div>
{% endraw %}